<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jmp.spring.mapper.BoardMapper">
	
	<!-- sql_criteria -->
	<sql id="criteria">
		<trim prefix="where (" suffix=")" prefixOverrides="or">
			<foreach collection="typeArr" item="type">
				<trim prefix="or">
					<choose>
						<when test="type == 'T'.toString()">
							title like '%'||#{word}||'%'
						</when>
						<when test="type == 'C'.toString()">
							content like '%'||#{word}||'%'
						</when>
						<when test="type == 'W'.toString()">
							writer like '%'||#{word}||'%'
						</when>
					</choose>	
				</trim>
			</foreach>
		</trim>
	</sql>
	
	<!-- get tbl_board table List -->
	<select id="getList" resultType="jmp.spring.vo.BoardVO">
		select * from tbl_board order BY bno DESC
	</select>
	<select id="getListWithPaging" resultType="jmp.spring.vo.BoardVO">
		<!-- select * from (SELECT /*+ index_desc(tbl_board index_bno) */ rownum rn, tbl_board.* FROM tbl_board -->
		select * from (SELECT ROW_NUMBER() OVER(ORDER BY a.bno desc) rn, a.* FROM tbl_board a
		<include refid="criteria"/>		
			) where rn BETWEEN ((#{pageNum}-1) * #{amount})+1 and #{pageNum} * #{amount}
	</select>
	
	<select id="totalBoard" resultType="int">
		select count(*) from tbl_board
		<include refid="criteria"/>		
	</select>
	
	<!-- insert board -->
	<insert id="insertBoard" >
		<selectKey resultType="int" keyProperty="bno" order="BEFORE">
			select seq_board.nextval from dual
		</selectKey>
		
		insert into tbl_board (bno, title, content, writer, regdate, updatedate)
		values (#{bno}, #{title}, #{content}, #{writer}, sysdate, sysdate)
	</insert>
	
	<!-- get board by bno -->
	<select id="getBoard" resultType="jmp.spring.vo.BoardVO"> 
		select * from tbl_board where bno = #{bno} 
	</select>

	<!-- update board -->
	<update id="updateBoard"> 
		update tbl_board set title = #{title}, content= #{content}, writer = #{writer}, updatedate = sysdate where bno = #{bno} 
	</update> 
		
	<delete id="deleteBoard"> 
		delete from tbl_board where bno = #{bno} 
	</delete>
	
	<insert id="backup">
		INSERT INTO tbl_board_bk ( SELECT seq_board_bk.NEXTVAL, bno, title, content, writer, regdate, updatedate, sysdate FROM tbl_board WHERE bno = ${bno})
	</insert>
</mapper>