<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jmp.spring.mapper.ReplyMapper">

	<!-- insert reply -->
	<insert id="insertReply" >
		<selectKey resultType="int" keyProperty="rno" order="BEFORE">
			select seq_reply.nextval from dual
		</selectKey>
		insert into tbl_reply (rno, bno, reply, replyer, replydate, updatedate)
		values (#{rno}, #{bno}, #{reply}, #{replyer}, sysdate, sysdate)
	</insert>
	
	<!-- get tbl_reply table List -->
	<select id="getList" resultType="jmp.spring.vo.ReplyVO">
		select RNO ,BNO ,REPLY ,REPLYER ,REPLYDATE , 
			CASE WHEN TO_CHAR(sysdate,'yyyymmdd') = TO_CHAR(updatedate,'yyyymmdd') 
	    		THEN TO_CHAR(updatedate,'am hh:mi:ss')
	    		ELSE TO_CHAR(updatedate,'yyyy/mm/dd') 
			END UPDATEDATE
		from tbl_reply where bno = #{bno} order BY bno ASC
	</select>

	<!-- get reply by bno -->
	<select id="getReply" resultType="jmp.spring.vo.ReplyVO"> 
		select * from tbl_reply where rno = #{rno} 
	</select>

	<!-- update reply -->
	<update id="updateReply"> 
		update tbl_reply set reply= #{reply}, replyer = #{replyer}, updatedate = sysdate where rno = #{rno} 
	</update> 
		
	<!-- delete reply -->
	<delete id="deleteReply"> 
		delete from tbl_reply where rno = #{rno} 
	</delete>
	
	<!-- total reply -->	
	<select id="totalReply" resultType="int">
		select count(*) from tbl_reply
	</select>
	
	<select id="getListAfterPaging" resultType="jmp.spring.vo.ReplyVO">
		select RNO ,BNO ,REPLY ,REPLYER ,REPLYDATE , 
			CASE WHEN TO_CHAR(sysdate,'yyyymmdd') = TO_CHAR(updatedate,'yyyymmdd') 
    			THEN TO_CHAR(updatedate,'am hh:mi:ss')
    			ELSE TO_CHAR(updatedate,'yyyy/mm/dd') 
			END UPDATEDATE
		from (
			SELECT ROW_NUMBER() OVER(ORDER BY a.rno asc) rn, a.* FROM tbl_reply a where bno = #{bno}
		) 
		where rn BETWEEN ((#{cri.pageNum}-1) * #{cri.amount})+1 and #{cri.pageNum} * #{cri.amount} order by rno desc
	</select>
	
</mapper>